aiokafka>=0.10,<0.11
asyncpg>=0.29,<0.30
autogluon.tabular[all]==1.5.0
chronos-forecasting>=2.2.2,<2.3
fastapi>=0.115,<1
httpx>=0.28,<1
ipython>=8,<9
lightning>=2.2,<3
neuralforecast>=1.7,<2
numpy>=1.26,<2
scikit-learn>=1.6,<1.7
sktime>=0.34.1,<0.35
pytest>=8,<9
PyYAML>=6,<7
streamlit>=1.43,<2
timesfm==1.3.0
uvicorn>=0.32,<1
websockets>=13,<17
pylint>=4,<5
autopep8>=2,<3
paramiko>=3,<4
